#portfolio {
    line-height: 1.5;
    letter-spacing: 2%;
}

#portfolio h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    text-align: center;
}

#portfolio img {
    width: 360px;
    min-width: 288px;
    max-width: 360px;
}

#portfolio h3 {
    font-weight: 500;
    font-size: 20px;
}
