#team {
    background: #F4F4FD;
    letter-spacing: 2%;

}

#team li {
    background: #FFF;
}

#team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    text-align: center;
}

#team img {
    width: 264px;
}

#team h3 {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

#team p {
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}